@import "tailwindcss";

body,html{
  /* overflow-x: hidden; */
  background-color: #FFFFFF;

}

@theme {
    --font-montserrat: "Montserrat", sans-serif;
      --font-times: "Times New Roman", serif;
        --font-poppins: "Poppins", sans-serif;



}


@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient-slow {
  animation: gradientFlow 15s ease-in-out infinite;
}


@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }  
}

.animate-mesh {
  animation: gradientMove 15s ease infinite;
}

.stripe-wave-texture {
  background:
    radial-gradient(
      120% 80% at 0% 0%,
      rgba(255, 255, 255, 0.18),
      transparent 60%
    ),
    radial-gradient(
      120% 80% at 100% 100%,
      rgba(255, 255, 255, 0.14),
      transparent 65%
    ),
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0)
    );
  opacity: 1;
  mix-blend-mode: soft-light;
  filter: blur(4px);
}


/* for abut us section patti */
@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animate-gradient {
  animation: gradientMove 14s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}





.scroll-container {
  width: 100%;
  overflow: hidden;
    white-space: nowrap;

}

.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll-left 12s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}








